* {
  font-family: sans-serif;
  /* uncomment to see how big stuff is*/
  /*border-style:solid;*/
}

h1, h2 {
  text-align: center;
}

body {
  padding: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

.justify-left {
  display: inline-block;
  text-align: left;
}

.monospace {
  font-family: monospace, monospace;
}

code {
  font-family: monospace, monospace;
}

.multiline {
  white-space: pre;
}

.grid {
  display: grid;
}

#result {
  overflow-y: scroll;
}

textarea {
  resize: vertical;
  border: 1px solid;
  border-radius: 6px;
}

textarea:focus {
  outline-style: solid;
  outline-color: #222222;
  outline-width: 1.5px;
}

@media (prefers-color-scheme: dark) {
  textarea:focus {
    outline-style: solid;
    outline-color: #fffff8;
    outline-width: 1.5px;
  }
}

/* wide view: 2 columns */
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .box1 {
    padding: 10px;
    text-align: right;
  }

  .box2 {
    padding: 10px;
  }

  .box2-inner {
    width: 100%;
  }

  #result {
    font-size: 14px;
    max-height: 400px;
  }

  .modal {
    max-width: 620px;
  }

  #actions-title {
    visibility: visible;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1200px) {
  #actions-title {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
  }

  .justify-left {
    min-width: 610px;
  }

  #result {
    font-size: 14px;
    max-height: 200px;
  }

  .modal {
    max-width: 620px;
  }
}

/* narrow css */
@media only screen and (max-width: 650px) {
  #actions-title {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
  }

  #result {
    font-size: 2.1vw;
    max-height: 200px;
  }

  textarea.monospace {
    font-size: 2.9vw;
  }

  .justify-left {
    width: 100%;
  }

  .modal {
    max-width: 85%;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* global light and dark themes */

* {
  background: #fffff8;
  color: #222;
}
@media (prefers-color-scheme: dark) {
  * {
    background: #222;
    color: #fffff8;
  }
}

.button {
  appearance: none;
  background-color: #fff1fb;
  border: 1px solid #1b1f23;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #ffe7f8;
  transition-duration: 0.1s;
}

.button:active {
  background-color: #f4eeff;
  transition: none 0s;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: #40313c;
    border: 1px solid #fefefe;
  }

  .button:hover {
    background-color: #4d2643;
    transition-duration: 0.1s;
  }

  .button:active {
    background-color: #262543;
    transition: none 0s;
  }
}

/* modal css */
.modal {
  border: 1px solid;
  border-radius: 6px;
}
.modal-header {
  line-height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h3 {
	margin: 0;
  box-sizing: border-box;
  padding: 12px 15px 0 10px;
  line-height: 50px;
  display: inline-block;
}
#closeInputFormat {
  padding-right: 15px
}
::backdrop {
  opacity: 0.7;
  background-color: #000;
}

.simheader {
  display: flex;
  align-items: center;
}
#siminput-title {
  margin-right: 20px;
  margin-bottom: 20px;
}
